body {
  padding: 0px 15px 0px 15px;
}

.text-center {
  text-align: center;
}

.demo-canvas {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}

.button {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 10px;
  color: #fff;
  background-color: #303133;
  border-color: #303133;
  cursor: pointer;
  outline: none;
  line-height: 1;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 0px;
}
